/* Sass variables */
$base-font: 'Josefin Slab',
  serif;
$headline-font: 'Roboto Condensed',
  sans-serif;
$accent-color: #558976;
$white: #fdfcfb;
$base-color: #333;
$hover-color: #9dac38;
$ivory: #f6f2ea;
$main-color: #385001;

/* ==== Basic Styles ==== */
body {
  background-color: $white;
  width: 100%;
  margin: 0 auto;
}

/* ==== Header ==== */
header {
  background-color: $main-color;
  width: 100%;
  position: fixed;

  .navbar-brand {
    font-size: 30px;
    font-family: $headline-font;
    color: $white;
  }

  ul {
    li {
      font-weight: bold;

      a {
        color: $white;
        font-size: 20px;
        font-family: $headline-font;
      }

      a:hover {
        color: $hover-color;
      }
    }
  }
}

/* ==== Footer ==== */
footer {
    background-color: $main-color;
    padding: 10px 0;
  }
  
  #contact {
    h4 {
      font-family: $headline-font;
      font-size: 25px;
      color: $white;
    }
  
    p {
      font-size: 16px;
      color: $white;
      font-family: $headline-font;
      padding: 20px 25px;
  
      i {
        color: $white;
        padding-right: 10px;
      }
    }
  
    li {
      padding: 10px 0;
  
      a {
        color: $white;
      }
  
      a:hover {
        color: $hover-color;
      }
    }
  }
  
  #copyright {
    color: $white;
    font-family: $headline-font;
    font-size: 16px;
  }
  
  /* === Projects === */
  #projects {
    padding: 80px;
  
    h3 {
      font-family: $headline-font;
      font-size: 30px;
      color: $main-color;
    }
  
    img {
      margin: 50px 0;
    }
  
    h4 {
      font-size: 25px;
      font-family: $headline-font;
      text-align: center;
      color: $main-color;
    }
  
    p {
      font-size: 20px;
      font-family: $base-font;
      line-height: 32px;
    }
  
    a {
      font-size: 20px;
      color: $main-color;
      text-decoration: none;
      font-family: $base-font;
      padding-bottom: 50px;
    }
  
    a:hover {
      color: $hover-color;
    }
  }