/* ==== Basic Styles ==== */
body {
  background-color: #fdfcfb;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

p, a, li {
  font-family: 'Josefin Slab', serif;
  color: #333;
}

a {
  color: #558976;
  text-decoration: none;
}

a:hover {
  color: #9dac38;
}

/* ==== Header ==== */
.navbar-brand {
  color: #385001;
  font-family: 'Roboto Condensed', sans-serif;
}

/* === Projects === */ 
#projects h1 {
  padding-top: 55px;
}

#projects .placeholder {
  width: 100%;
  padding: 100px;
  background-color: #385001;
  color: #f6f2ea;
}

#projects .card-title {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

#projects .card-text {
  font-size: 1.3rem;
  color: #333;
}

#projects .btn {
  color: #f6f2ea;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

/*=== Footer ===*/
#footer {
  background-color: #385001;
  padding: 5px 0;
}

#footer p {
  font-size: 15px;
  color: #f6f2ea
}