/* ==== Basic Styles ==== */
body {
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p, a, li {
  font-family: 'Josefin Slab', serif;
  color: #333;
  line-height: 35px;
}

a {
  color: #034372;
  text-decoration: none;
}

a:hover {
  color: #034372;
}

.card-title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.card-text {
  font-size: 1.3rem;
}

/* ==== Header ==== */
header {
  background-color: #03263a;
  padding: 50px 0;
}

header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #fff;
}

/* === Projects === */ 
#top-row h4, #bottom-row h4 {
  font-size: 1.5rem;
  padding-bottom: 15px;
}

#top-row p, #bottom-row p {
  font-size: 1.3rem;
  padding-bottom: 15px;
}

/*=== Footer ===*/
#footer {
  background-color: #03263a;
  padding: 5px 0;
}

#footer p {
  font-size: 16px;
  color: #fff;
}

#footer a {
  color:#fff;
}

#footer a:hover {
  color: #768cb9;
}