/* ==== Basic Styles ==== */
body {
  background-color: #EDF2F7;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Condensed', sans-serif;
}

p, a, li {
  font-family: 'Josefin Slab', serif;
  color: #51555B;
}

a {
  color: #48523D;
  text-decoration: none;
}

a:hover {
  color: #B5C6B8;
}

/* ==== Header ==== */
.navbar-brand a {
  font-family: 'Roboto Condensed', sans-serif;
}

#navbarMain a {
  font-family: 'Josefin Slab', serif;
}

/* === Banner === */
.bg-image {
  height: 100vh;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero_title {
  font-size: 3rem;
}

.hero_desc p {
  font-size: 1.4rem;
}

/* === Projects === */ 
#projects h1 {
  font-size: 1.5rem;
}

#projects .placeholder {
  width: 100%;
  padding: 100px;
  background-color: #8FA2CA;
  color: #EDF2F7;
}

#projects .card-title {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

#projects .card-text {
  font-size: 1.3rem;
  color: #51555B;
}

/* === Contact ===*/ 
#contact {
  border: 2px solid #8FA2CA;
  padding-bottom: 15px;
}

#contact h1 {
  font-size: 1.5rem;
}

#contact p {
  font-size: 1.3rem;
  color: #51555B;
}

.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-facebook:hover, .fa-instagram:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-pinterest:hover, .fa-github:hover {
  color: #B5C6B8;
}

.fab {
  color: #8FA2CA;
}



/*=== Footer ===*/
#footer {
  background-color: #8FA2CA;
  padding: 5px 0;
}

#footer p {
  font-size: 16px;
  color: #51555B;
}

#footer a {
  color:#48523D;
}

#footer a:hover {
  color: #B5C6B8;
}